body{
background-color: #818181;
}
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999999;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.navbar.sticky{
transition: all 0.5s ease;
transform: translateY(-56px);
}

.woo{
    display: flex;
    justify-content: center;
    margin-top: 1.5px;
}
.art{
    margin-top: 35px;
}
.marg{
    margin-right: 0;
    margin-left: -4px;
}
.counter{
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}
footer{
    height: 70px;
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    background-color: #c4c4c4;
}
footer img{
     width: 45px;
     margin-top: 15px;
     padding-left: 3px;
     padding-right: 3px;
}
footer img:hover{
    width: 55px;
}
@media only screen and (max-width:500px) and (min-width:50px){
    .na{
        width: 100%;
    }
}
@media (min-width:768px) and (max-width:850px){
  .heg{
      height: 35%;
  }
}
@media (min-width:851px) and (max-width:1050px){
    .heg{
        height: 44%;
    }
  }
  @media (min-width:1051px) and (max-width:1350px){
    .heg{
        height: 50%;
    }
  }
  @media (min-width:1351px) and (max-width:1530px){
    .heg{
        height: 55%;
    }
  }