.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999999;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }